#container {
    position: relative;
}

#ball {
    width: 22px;
    height: 22px;
    background-color: rgb(148, 20, 20);
    position: fixed;
    top: 22px;
    left: 51.5%;
    border-radius: 52%;
}

#rod1, #rod2 {
    width: 202px;
    height: 22px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#rod1 {
    background-color: rgb(44, 44, 163);
    top: 0px;    
}

#rod2 {
    background-color: rgb(70, 124, 103);
    bottom: 0px;
}
